body {
    margin: 0;
}

.chart {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    opacity: 0;
}

.section {
    fill: #ffffff;
    cursor: pointer;
    font-family: sans-serif;
    text-anchor: middle;
    text-transform: uppercase;
    -webkit-animation-duration: 0.25s !important;
    -moz-animation-duration: 0.25s !important;
    -webkit-animation-delay: 0 !important;
    -moz-animation-delay: 0 !important;
}

@keyframes hover {
    from {
        transform: scale3d(1, 1, 1);
    }
    to {
        transform: scale3d(1.05, 1.05, 1.05);
    }
}
.hover {
    animation-name: hover;
}

@keyframes selected {
    from {
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        transform: scale3d(1.1, 1.1, 1.1);
    }
}
.selected {
    animation-name: selected;
}
