body {
    margin: 0;
}

.chart-container {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart {
    transition: transform 0.2s ease;
}

.chart.small {
    transform: translate(-105%,-50%) scale(0.75,0.75);
}

.hidden {
    opacity: 0;
}

.section {
    fill: #ffffff;
    cursor: pointer;
    font-family: sans-serif;
    text-anchor: middle;
    text-transform: uppercase;
    transition: transform 0.2s ease;
}

.section.hover {
    transform: scale3d(1.05, 1.05, 1.05);
}
.section.selected {
    transform: scale3d(1.1, 1.1, 1.1);
}
